<div class="min-h-screen bg-black text-white flex items-center justify-center p-4">
    <div class="w-full max-w-sm sm:max-w-md md:max-w-lg bg-black text-white flex flex-col items-center space-y-6 p-6 ">

        <!-- Main Image -->
        <div>
            <img src="../../../../assets/images/goals.png" alt="100 Move Goals Badge"
                class="w-full h-full object-contain">
        </div>

        <!-- Title -->
        <div class="text-center">
            <h2 class="text-xl sm:text-2xl font-semibold">100 Move Goals</h2>
            <p class="text-sm sm:text-base text-gray-500 mt-2">
                Earn this award when you reach your daily Move goal 100 times. You've reached your Move goal 71 times so
                far.
            </p>
        </div>

        <!-- Progress Bar -->
        <div class="w-4/6 h-1 rounded-full bg-gray-700 overflow-hidden">
            <div class="h-full bg-lime-400 transition-all duration-300 animate-progress"></div>
        </div>
        <!-- <div class="w-4/6 h-2 rounded-full bg-gray-700 overflow-hidden">
            <div class="h-full bg-lime-400 transition-all duration-500 ease-in-out"
                [ngStyle]="{ width: progress + '%' }">
            </div>
        </div> -->

    </div>
</div>