<div class="min-h-screen bg-white flex items-center justify-center">
    <div class="w-full max-w-[390px] bg-white overflow-hidden  p-6 text-center">

        <!-- Logo and Title -->
        <div class="flex items-center justify-center space-x-2 mt-4 mb-20">
            <img src="../../../../assets/images/logonew.png" alt="Logo" class="w-16 h-14">
            <h1 class="text-4xl font-bold text-gray-900">TRI<span class="font-normal">DENTITY</span></h1>
        </div>

        <!-- Main Image -->
        <div class="mb-8">
            <img src="../../../../assets/images/hero2.png" alt="Main Graphic" class="w-full mx-auto">
        </div>

        <!-- Stamps -->
        <div class="text-primary font-semibold text-2xl space-y-2 mb-12 text-left px-4">
            <p>Coupon Stamps: <span class="font-medium">1</span></p>
            <p>Quiz Stamps: <span class="font-medium">2</span></p>
            <p>Total Stamps: <span class="font-medium">3</span></p>
            <p>Lucky Draw Chances: <span class="font-medium">3</span></p>
        </div>

        <!-- Partners Featured -->
        <div class="mb-8 text-left px-4">
            <div class="text-primary text-center font-medium text-2xl mb-3">Partners Featured</div>
            <div class="flex items-center">
                <img src="../../../../assets/images/partner.png" alt="Partner Logo" class="h-16 object-contain">
            </div>
        </div>

        <!-- Quiz Button -->
        <div class="px-12">
            <button
                class="w-full py-5 px-3 bg-primary text-white text-2xl font-normal rounded-full flex items-center justify-center space-x-2">
                <span class="text-secondary ">QUIZ</span>
                <span class="text-secondary text-3xl">&rarr;</span>
            </button>
        </div>
    </div>
</div>