<div class="min-h-screen bg-white flex items-center justify-center">
    <div class="w-full max-w-[390px] bg-white overflow-hidden  p-6 text-center">

        <!-- Logo and Title -->
        <div class="flex items-center justify-center mt-4 mb-20">
            <img src="../../../../assets/images/logonew.png" alt="Logo" class="w-18 h-14">
            <h1 class="text-4xl font-bold text-gray-900">TRI<span class="font-normal">DENTITY</span></h1>
        </div>

        <!-- Main Image -->
        <div class="mb-8">
            <img src="../../../../assets/images/hero2.png" alt="Main Graphic" class="w-full mx-auto">
        </div>

        <!-- Stamps -->
        <div class="text-primary font-semibold text-2xl space-y-2 mb-12 text-left px-4">
            <p>Coupon Stamps: <span class="font-medium">1</span></p>
            <p>Quiz Stamps: <span class="font-medium">2</span></p>
            <p>Total Stamps: <span class="font-medium">3</span></p>
            <p>Lucky Draw Chances: <span class="font-medium">3</span></p>
        </div>

        <!-- Partners Featured -->
        <div class="mb-8 text-left px-4">
            <div class="text-primary text-center font-medium text-2xl mb-3">Partners Featured</div>
            <div class="flex items-center">
                <img src="../../../../assets/images/partner.png" alt="Partner Logo" class="h-16 object-contain">
            </div>
        </div>

        <!-- Quiz Button -->
        <div class="px-12">
            <button routerLink="/quiz"
                class="w-full py-5 px-3 bg-primary text-white text-2xl font-normal rounded-full flex items-center justify-center space-x-2">
                <span class="text-secondary ">QUIZ</span>
                <span class="text-secondary text-3xl">
                    <svg class="w-12 h-12 text-secondary" viewBox="0 0 24 24" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z" />
                    </svg>


                </span>
            </button>
        </div>
    </div>
</div>